.navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

.fullscreenNav li{
    display: inline;
    margin-left: 15px;
    color: white;
    font-size: 20px;
}

.offCanvasBtn {
    position: relative;
    bottom: 45px;
}

.offCanvasBtn img {
    height: 55px;
    width: 55px;
}

@media screen and (min-width: 821px) {
    .offCanvasBtn {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .fullscreenNav {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .offCanvasBtn {
        bottom: 29px;
    }
}
